<div class="publication">
<p>[1] Park, Souneil, et al. "NewsCube: delivering multiple aspects of news to mitigate media bias." Proceedings of the SIGCHI conference on human factors in computing systems. 2009.</p>
<p>[2] Park, Souneil, SangJeong Lee, and Junehwa Song. "Aspect-level news browsing: Understanding news events from multiple viewpoints." Proceedings of the 15th international conference on Intelligent user interfaces. 2010.</p>
<p>[3] Park, Souneil, et al. "The politics of comments: predicting political orientation of news stories with commenters' sentiment patterns." Proceedings of the ACM 2011 conference on Computer supported cooperative work. 2011.</p>
<p>[4] Park, Souneil, Kyung-Soon Lee, and Junehwa Song. "Contrasting opposing views of news articles on contentious issues." Proceedings of the 49th annual meeting of the association for computational linguistics: Human language technologies. 2011.</p>
<p>[5] Park, Souneil, et al. "A computational framework for media bias mitigation." ACM Transactions on Interactive Intelligent Systems (TiiS) 2.2 (2012): 1-32.</p>
<p>[6] Park, Souneil, et al. "Disputant Relation-Based Classification for Contrasting Opposing Views of Contentious News Issues." IEEE Transactions on Knowledge and Data Engineering 25.12 (2012): 2740-2751.</p>
<p>[7] Resnick, Paul, et al. "RumorLens: A System for Analyzing the Impact of Rumors and Corrections in Social Media." In Proceedings of the Computation + Journalism Symposium Apr 2014</p>
</div>
